

:host(:hover){
	cursor: pointer;
}

#monitor{
	font-size: 3em;
	background-color: #eee;
	text-align: right;
	padding: 0.2em;
}

#numpad{
	float: left;
	width: 75%;
}

#right-operations{
	position: relative;
	display: inline-block;
	width: 25%;
}