
body{
	padding: 0;
	margin: 0;
}

:host{
	font-family: 'Open Sans', sans-serif;
}

#monitor{
	font-size: 3em;
	background-color: #eee;
	text-align: right;
	padding: 0.2em;
}

#monitorOperation{
	display: inline-block;
	width: 1em;
	font-size: 0.5em;
	vertical-align: top;
	color: #aaa;
}

#panel-center{
	float: left;
	width: 75%;
	border: none;

}

#panel-right{
	display: inline-block;
	width: 25%;
}


/* LIGHT THEME */

.light calculator-button{
	color: #333;
	background-color: #eee;
}
.light calculator-button.right{
	color: #fff;
	background-color: #ff973b;
}
.light calculator-button.top{
	color: #333;
	background-color: #ddd;
}




/* DARK THEME */

.dark calculator-button{
	color: #fff;
	background-color: #333;
}
.dark calculator-button.right{
	color: #fff;
	background-color: #db0066;
}
.dark calculator-button.top{
	color: #fff;
	background-color: #888;
}