<style>


:host{
	padding: 30px;
}

.btn{
	position: relative;
	float: left;
	text-align: center;
	padding: 1.5em 0em;
	background-color: inherit;
	color: inherit;
}

.btn:hover{
	cursor: pointer;
}

:host-context(.light) paper-ripple {
	color: #fcbc74;
	box-shadow: inset 0.1em -0.05em #c7c7c7;
}

:host-context(.dark) paper-ripple {
	color: #a53a96;
	box-shadow: inset 0.1em 0.1em #555;
}

</style>