<style>


:host {
  font-family: 'Open Sans', sans-serif;
}

.btn{
	float: left;
	text-align: center;
	padding: 1em 0em;
	background-color: inherit;
	color: inherit;
	font-weight: 300;
}

.btn-inner{
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 1.5em;
	padding: 0.5em 1em;
	background-color: inherit;
	color: inherit;
}

paper-ripple {
  color: #ffff28;
}


/* LIGHT THEME */
:host-context(.number-light) {
	color: #333;
	background-color: #eee;
}
:host-context(.ope-light) {
	color: #fff;
	background-color: #ff973b;
}
:host-context(.sp-ope-light) {
	color: #333;
	background-color: #ddd;
}


/* DARK THEME */
:host-context(.number-dark) {
	color: #fff;
	background-color: #333;
}
:host-context(.ope-dark) {
	color: #fff;
	background-color: #db0066;
}
:host-context(.sp-ope-dark) {
	color: #fff;
	background-color: #888;
}


</style>