<style>

body{
	padding: 0;
	margin: 0;
}

.btn{
	position: relative;
	display: inline-block;
	float: left;
	text-align: center;
	padding: 1em 0em;
	background-color: inherit;
	color: inherit;
	font-weight: 300;
}

.btn:hover{
	cursor: pointer;
}

.btn-inner{
	position: relative;
	display: inline-block;
	text-align: center;
	font-size: 1.5em;
	padding: 0.5em 1em;
	background-color: inherit;
	color: inherit;
}

paper-ripple {
  color: #ffff28;
}

</style>